body {
  font-family: sans-serif;
  padding: 20px;
}

.item {
  display: flex;
  gap: 10px;
}

button {
  font-size: 20px;
  padding: 10px 14px;
}

input {
  width: 80px;
  font-size: 20px;
  text-align: center;
}
